@model Room

<h2>Room</h2>

@Html.DisplayForModel()

<h3>Bookings</h3>

<a asp-action="AddBooking"
   asp-route-id="@Model.Id"
   class="btn btn-default btn-sm">
    Book
</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Attendees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Bookings)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Name</td>
                <td>@b.From</td>
                <td>@b.To</td>
                <td>@b.Attendees</td>
            </tr>
        }
    </tbody>
</table>